svg {
  width: 1000px;
  height: 800px;
}

.selected {
  stroke: red;
  fill: red;
}

.selected circle {
  stroke: red;
}

.node circle {
  cursor: move;
}

.node text {
  fill: blue;
  font-size: 16px;
  font-family: Arial, sans-serif;
  dominant-baseline: middle;
  text-anchor: middle;
}

html,
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
