svg {
  width: 1000px;
  height: 800px;
}

.selected {
  stroke: red;
  fill: red;
}

.selected circle {
  stroke: red;
}

.node circle {
  cursor: move;
}

.node text {
  fill: blue;
  font-size: 16px;
  font-family: Arial, sans-serif;
  dominant-baseline: middle;
  text-anchor: middle;
}

html,
body {
  height: 100%;
}
